<link rel="stylesheet" href="/asset/css/cart.css">
<main>
    <div class="container">
        <div class="about__us">
            <div class="about__us--content">
                <div class="about__us--content__item">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <figure>
                                <img loading="lazy" src="/image/aboutus1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col-md-6 col-12 mt-md-0 mt-4">
                            <h2 class="about__us--title">VỀ HT’BAKERY?</h2>
                            <p class="about__us--des">
                                Tên doanh nghiệp: CÔNG TY TNHH BÁNH NGỌT HOÀI NAM <br>
                                Tên doanh nghiệp viết bằng tiếng nước ngoài: HOAI NAM BAKERY COMPANY LIMITED<br>
                                Tên doanh nghiệp viết tắt: HT BAKERY CO.,LTD<br>
                                Địa chỉ trụ sở chính:C28-TT6, khu đô thị Văn Quán, Phường Phúc La, Quận Hà Đông, Thành
                                phố Hà Nội, Việt Nam.<br>
                                Văn phòng giao dịch: B 50-Thấp Tầng 6, Khu đô thị Văn Quán, Phường Phúc La, Quận Hà
                                Đông, Thành phố Hà Nội.<br>
                                Chúng tôi là đơn vị sản xuất các loại bánh ngọt, bánh kem, bánh sinh nhật… chất lượng
                                cao, với hương vị đặc biệt thơm ngon.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12 order-md-2">
                            <figure>
                                <img loading="lazy" src="/image/slide1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col-md-6 col-12 mt-md-0 mt-4 order-md-1">
                            <h2 class="about__us--title">CHIẾN LƯỢC PHÁT TRIỂN</h2>
                            <p class="about__us--des">
                                Nguyên liệu đầu vào được chọn lọc kỹ, quy trình nghiêm ngặt, đáp ứng tiêu chuẩn cao
                                (xuất xứ hãng EU, G7…). <br>
                                Với đội ngũ nhân viên được đào tạo bài bản, chuyên nghiệp, tính kỷ luật cao trong quy
                                trình sản xuất bánh ngọt.<br>
                                Cơ sở sản xuất với quy trình khép kín, đảm bảo an toàn vệ sinh thực phẩm, được cấp phép
                                và kiểm tra theo định kỳ của Cục An toàn thực phẩm.<br>
                                Tiêu chí hàng đầu của chúng tôi:<br>
                                – Làm việc nhiệt huyết, đam mê với nghề làm bánh.<br>
                                – Lắng nghe khách hàng, có tâm với từng khách hàng, có tâm với từng sản phẩm.

                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <figure>
                                <img loading="lazy" src="/image/aboutus1.jpg" alt="">
                            </figure>
                        </div>
                        <div class="col-md-6 col-12 mt-md-0 mt-4">
                            <h2 class="about__us--title">Ý KIẾN ĐÓNG GÓP</h2>
                            <p class="about__us--des">
                                Mọi ý kiến phản hồi và đóng góp, xin liên hệ đường dây nóng: <br>
                                Hotline di động 0877 669 990 hoặc số máy bàn 024 1111 1111.<br>
                                Email: banhngothoainam@gmail.com; info@htbakery.vn
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    const $$ = document.querySelector.bind(document);
    const $$l = document.querySelectorAll.bind(document);

</script>
<script src="/asset/js/sessionHandle.js"></script>
<script src="/asset/js/data.js"></script>
<script>
    async function contactPage() {
        await showProductsViewHome(0, 1);
        HandleCart();
        handleHearts();
    }
    contactPage();
</script>