<link rel="stylesheet" href="/asset/css/cart.css" />
<link rel="stylesheet" href="/asset/css/resposive.css" />
<main>
    <div class="container">
        <div class="new__detail">
            <h1 class="new__detail--title">KHÓA HỌC LÀM BÁNH DÀNH CHO CÁC BÉ!</h1>
            <figure>
                <img class="new__detail--avata" src="/image/aboutus1.jpg" alt="">
            </figure>

            <div class="new__detail--des">
                <h2 class="new__detail--des__time">13.06.2022 - Chế biến</h2>
                <p class="new__detail--des__make">ancake là một món bánh có hương vị thơm ngon. Đặc biệt hơn khi được
                    chế biến bằng bột trà xanh nguyên cám, bánh vừa ngon vừa tốt cho sức khỏe. Hãy vào bếp cùng Điện Máy
                    XANH học ngay cách làm pancake trà xanh nguyên cám bằng chảo chống dính nhé!</p>
                <p class="new__detail--des__title"> I. Thành phần</p>
                <ul class="ms-5 ul__list" id="material">


                </ul>
                <p class="new__detail--des__title"> II. Cách chế biến </p>
                <ol class="ms-5 ul__list" id="steps" type="1">


                </ol>
                <p class="new__detail--des__make text-center fw-bold fs-3">Chúc bạn làm thành công nhé ! </p>
            </div>
        </div>
        <div class="news__container mt-5">
            <div class="products__kind">
                <h2 class="products__kind--title">Nội Dung tương tư</h2>
            </div>
            <div id="news" class="row news__container--content">

            </div>
        </div>

    </div>
</main>

<script>
    const $$ = document.querySelector.bind(document);
    const $$l = document.querySelectorAll.bind(document);
</script>
<script src="/asset/js/sessionHandle.js"></script>
<script src="/asset/js/data.js"></script>
<script src="/asset/js/newDetail.js"></script>