<link rel="stylesheet" href="/asset/css/productDetail.css" />
<main>
    <div class="container">

        <div class="product__detail">
            <div class="row">
                <div class="col-lg-3  col-0 d-lg-block d-none">
                    <div class="product__catelory">
                        <h2>Danh mục sản phẩm</h2>
                        <ul class="sub__nav mt-4">
                            <li><a href="">Bánh Sinh Nhật </a></li>
                            <li><a href="">Đồ Uống / Kem Tươi</a></li>
                            <li><a href="">Bánh Mì / Bánh Ngọt</a></li>
                            <li><a href="">Ăn Nhẹ / Lạnh</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-12">
                    <div class="product__avata">
                        <figure>
                            <img class="w-100 image__avata" src="/image/cakes/id3.jpg" alt="">
                        </figure>
                        <p class="product__social">Chia sẻ:
                            <span class="m-2"></span>
                            <a href="./index.html"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="./index.html"><i class="fa-brands fa-twitter"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="product__des">
                        <h1 class="product__des--name">Cream Cheese Layer Cake</h1>
                        <div class="product__des--detail">
                            <div class="row mt-4">
                                <div class="col-6 product__des--title">
                                    Tình trạng:
                                </div>
                                <div class="col-6 product__status">
                                    Còn hàng
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-6  product__des--title">
                                    Thành phần:
                                </div>
                                <div class="col-6 product__material">
                                    Cream cheese, gateaux,sadsad dsad
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-6  product__des--title">
                                    Giá bán
                                </div>
                                <div class="col-6 product__price">
                                    350,000₫
                                </div>
                            </div>
                            <div class="product__buying">
                                <p>Thêm Vào Giỏ</p>
                            </div>
                            <div class="product__special">
                                <h5 class="mb-4">Đặt hành nhanh nhất</h5>
                                <p>08.77.66.99.90 - 03.25.02.42.77</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__detail--footer">
                <p>
                    <button class="btn  fs-3">Mô tả sản phẩm </button>
                    <button class="btn  fs-3">Giao hàng </button>
                </p>
                <p class="product__detail--footer_des pb-4">
                    Bánh Sinh Nhật, Địa chỉ mua bánh sinh nhật tại Hà Nội, Bánh Sinh Nhật Công Ty, Bánh Sinh Nhật Cho
                    Bé, Bánh Sinh Nhật Đẹp
                </p>
            </div>
        </div>

        <!-- sản phẩm giống nhau -->
        <div class="show__products " style="margin-top: 50px;" id="show__products">

        </div>
    </div>
</main>

<script>
    const $$ = document.querySelector.bind(document);
    const $$l = document.querySelectorAll.bind(document);
</script>
<script src="/asset/js/sessionHandle.js"></script>
<script src="/asset/js/data.js"></script>
<script src="/asset/js/detail.js"></script>