<main>
  <div class="container">
    <div class="show__products" id="show__products"></div>

  </div>
  </div>
</main>

<script>
  const kind = {{ kind }};
  const $$ = document.querySelector.bind(document);
  const $$l = document.querySelectorAll.bind(document);
</script>
<script>

</script>
<script src="/asset/js/sessionHandle.js"></script>
<script src="/asset/js/data.js"></script>
<script src="/asset/js/product.js"></script>