
    <div class="sliders_container">
        <div class="banner_sliders">
            <figure>
                <img class="slider" src="/image/slide1.jpg" alt="slider1 - HT Bakery">
            </figure>
            <figure>
                <img class="slider" loading="lazy" src="/image/slide2.jpg" alt="slider2 - HT Bakery">
            </figure>
            <figure>
                <img class="slider" loading="lazy" src="/image/slide3.jpg" alt="slider3 - HT Bakery">
            </figure>
            <figure>
                <img class="slider" loading="lazy" src="/image/slide4.jpg" alt="slider4 - HT Bakery">
            </figure>
        </div>
        <div class="slider_show-btns">
            <div class="show__controler btn_silder_left">
                <i class="fa-solid fa-angle-left"></i>
            </div>

            <div class="show__controler btn_silder_right">
                <i class="fa-solid fa-angle-right"></i>
            </div>
            <div class="presentation__sliders">
                <button class="btn_banner active"></button>

                <button class="btn_banner"></button>
                <button class="btn_banner"></button>
            </div>
        </div>

    </div>