<footer>
        <div class="container">
            <div class="row footer_content">
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="footer--title">
                        <h5>Giới Thiệu</h5>
                    </div>
                    <div class="footer__body">
                        <h6 class="footer__body--title">Công Ty TNHH Bánh Ngọt Hoài Nam</h6>
                        <div class="footer__address">
                            <div class="footer__address--container">
                                <div class="address--item">
                                    <div class="address--item__body">
                                        <div class="address--item__body--icon">
                                            <i class="fa-solid fa-location-dot"></i>
                                        </div>
                                        <div class="address--item__body--info">
                                            <h6 class="address__title"> Địa Chỉ:</h6>
                                            <div class="address__local">200/34 Tô ký, Phường Đông Hưng Thuận, Quận 12, TP HCM</div>
                                        </div>
                                    </div>
                                    <div class="address--item__body">
                                        <div class="address--item__body--icon">
                                            <i class="fa-solid fa-mobile"></i>
                                        </div>
                                        <div class="address--item__body--info">
                                            <h6 class="address__title"> Điện thoại:</h6>
                                            <div class="address__local"><a href="tel:+8477669990">0877.669.990</a></div>
                                        </div>
                                    </div>

                                    <div class="address--item__body">
                                        <div class="address--item__body--icon">
                                            <i class="fa-solid fa-location-dot"></i>
                                        </div>
                                        <div class="address--item__body--info">
                                            <h6 class="address__title"> Email:</h6>
                                            <div class="address__local"><a
                                                    href="mailto:namph2102@gmail.com">namph2102@gmail.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="footer--title">
                        <h5>Facebook</h5>
                    </div>
                    <div class="footer__body">
                        <div class="fb-page w-100" data-href="https://www.facebook.com/profile.php?id=100087004991368"
                            data-tabs="timeline" data-width="" data-height="140" data-small-header="false"
                            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/profile.php?id=100087004991368"
                                class="fb-xfbml-parse-ignore"><a
                                    href="https://www.facebook.com/profile.php?id=100087004991368">Movibes Group</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="footer--title">
                        <h5>Danh mục</h5>
                    </div>
                    <div class="footer__body">
                        <ul>
                            <li><a href="./index.html">Trang Chủ</a></li>
                            <li><a href="./product.html">Sản Phẩm</a></li>
                            <li><a href="./aboutus.html">Giới Thiệu</a></li>
                            <li><a href="./news.html">Tin Tức</a></li>
                            <li><a href="./contact.html">Liên Hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="footer--title">
                        <h5>Bản Đồ</h5>
                    </div>
                    <div class="footer__body">
                        <iframe class="w-100"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62696.48503067493!2d106.61001974877101!3d10.847210746085915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175297c671c5eb9%3A0x3da2e88698b9d536!2zVGnhu4dtIELDoW5oIE1pbmggQ2jDonU!5e0!3m2!1svi!2s!4v1673416544803!5m2!1svi!2s"
                            height="200" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copyright col-12 row">
            <span class="col-sm-6 col-12 text-end"> © Copyright 10/01/2023</span>
            <span class="col-sm-6 col-12 text-start">· Bản quyền thuộc Phạm Hoài Nam</span>
        </div>
    </footer>